@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  overflow: hidden;
}

:root {
  font-size: 16px;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 5rem;
  font-weight: 700;
}

.containerInput {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border: none;
  padding: 0 20px;
  color: #333;
  border-bottom: 1px solid #ccc;
}

input {
  font-size: 2rem;
}

button {
  all: unset;
  cursor: pointer;
}
main {
  margin: 2rem 0;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  background-color: #ccc;
  border-radius: 8px;
  width: 600px;
  align-items: center;
}

main span {
  margin: 0.5rem;
}
